<%= render "menu" %>

<h1>Sejam Bem Vindos ao <%= nome_application %>  </h1>
<P>HELPER C/ TRATAMENTO ===> Hoje é: <%= data_br(Date.today) %></P>

<p>HELPER C/ FORMA INTELIGENTE DE FAZER IF ===> Você está em ambiente de: <%= environments %></p>
<p>VAR DE INST/SESSAO ===> Istó é uma var de instância/sessão =>__ <%= @nome %></p>
<p>VAR DE INST/SESSAO ===> Meu curso é o curso de <%= @curso %></p>





